* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
}

.btn_home {
    display: flex;
    justify-content: center;

}

.btn {
    padding: 10px;
    margin: 10px;
}

.delete {
        background-color: orangered;
        color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.post {
    background-color: antiquewhite;
    padding: 15px;
    margin: 10px;

    display: flex;
    justify-content: space-between;

    & h4 {
        text-transform: uppercase;
    }
}